<!-- Header -->
<section id="header">
    <div class="inner">
        <span class="icon major fa-cloud"></span>
        <h1>Hi, I'm <strong>Workload Forecasting Service</strong>, a fine<br />
            little freebie from <a href="#">CloudPie</a></h1>
        <p>We do....</p>
        <ul class="actions">
            <li><a href="#one" class="button scrolly">Learn More</a></li>
        </ul>
    </div>
</section>

<!-- One -->
<section id="one" class="main style1">
    <div class="container">
        <div class="row 150%">
            <div class="6u 12u$(medium)">
                <header class="major">
                    <h2>What this service do?</h2>
                </header>
                <p>Brief Description of the Service goes here</p>
            </div>
            <div class="6u$ 12u$(medium) important(medium)">
                <span class="image fit"><img src="images/pic01.png" alt="" /></span>
            </div>
        </div>
    </div>
</section>


<!-- Three -->
<section id="three" class="main style2 special">
    <div class="container">
        <header class="major">
            <h2>Why choose this service?</h2>
        </header>
        <div class="row 150%">
            <div class="4u 12u$(medium)">
                <span class="image fit"><i class="fa fa-euro"></i></span>
                <h3>Cost Reduction</h3>
                <p>Using this service you can actually see reduction in the VM utilization cost.</p>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </div>
            <div class="4u 12u$(medium)">
                <span class="image fit"><i class="fa fa-lightbulb-o "></i></span>
                <h3>Smart Cloud Decisions</h3>
                <p>Whether optimizing cloud utilization or getting the best QoS, this service can provide the best method based upon rigorous analysis and machine learning techniques.</p>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </div>
            <div class="4u$ 12u$(medium)">
                <span class="image fit"><i class="fa fa-line-chart"></i></span>
                <h3>Competitive Advantages</h3>
                <p>Using this service will give your company a competitive advantage in the market</p>
                <ul class="actions">
                    <li><a href="#" class="button">More</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Four -->
<section id="four" class="main style1 special">
    <div class="container">
        <header class="major">
            <h2>Test Our Service?</h2>
        </header>
        <p>Upload the CSV File containg the workload requests here to test our service.</p>

        <section>
            <form method="post" action="#">
                <div class="row uniform 50%">
                    <div class="6u 12u$(xsmall)">
                        <input type="text" name="name" id="demo-name" value="" placeholder="Name" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <input type="email" name="email" id="demo-email" value="" placeholder="Email" />
                    </div>
                    <div class="12u$ 12u$(xsmall)">
                        <input type="file" name="file" id="demo-file" value="Select File" placeholder="File Path" />
                    </div>
                    <div class="12u$">
                        <ul class="actions">
                            <li><input type="submit" value="Submit" class="special" /></li>
                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </div>
</section>
<section id="five" class="main style2 special">

    <div class="container">
        <header class="major">
            <h2>Get In Touch</h2>
        </header>
        <div class="row 150%">
            <div class="8u 12u$(medium)">
                    <div class="section-title">
                        <h2>Send a message</h2>
                        <p>Please fill out the form below to send us an email and we will get back to you as soon as possible.</p>
                    </div>
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="6u 12u$(medium)">
                                <div class="form-group">
                                    <input type="text" id="namemsg" class="form-control" placeholder="Name" required="required">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="6u 12u$(medium)">
                                <div class="form-group">
                                    <input type="email" id="emailmsg" class="form-control" placeholder="Email" required="required">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div id="success"></div>
                        <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
                    </form>
            </div>
            <div class="4u$ 12u$(medium)">
                    <h2>Contact Info</h2>

                    <p style="text-align: left"><span><i class="fa fa-map-marker"></i>&nbsp; &nbsp; Address <br></span>Chair of Computer Architecture<br>
                        Department of Informatics , Boltzmannstraße 3
                        85748 Garching <br> Germany</p>
                <div class="contact-item">
                    <p style="text-align: left"><span><i class="fa fa-phone"></i></span> &nbsp; &nbsp; Phone <br>+49 000000000</p>
                </div>
                <div class="contact-item">
                    <p style="text-align: left"><span><i class="fa fa-envelope-o"></i></span>&nbsp; &nbsp; Email <br> v.podolskiy@tum.de</p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<section id="footer">
    <ul class="icons">
        <li><a href="https://github.com/CloudPie/LPE" target="_blank" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="mailto:v.podolskiy@tum.de" target="_blank" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; CloudPie 2018 All rights reserved</li>
    </ul>
</section>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>
