<!-- Header -->
<section id="header">
    <div class="inner">
        <span class="icon major fa-cloud"></span>
        <h1><strong>Workload Forecasting Service</strong></h1>
        <p>We do....</p>
        <ul class="actions">
            <li><a href="#one" class="button scrolly">Learn More</a></li>
        </ul>
    </div>
</section>

<!-- One -->
<section id="one" class="main style2">
    <div class="container">
        <div class="row 150%">
            <div class="6u 12u$(medium)">
                <header class="major">
                    <h2>What this service does & How it functions?</h2>
                </header>
				
                <p style="text-align:justify">The Forecasting Service uses <b>10</b> forecasting models implemented in R to forecast the provided amount of values for a single uploaded time series. The forecasted values and prediction intervals are visualized in Grafana. For each model used it calculates the <i>Interval Accuracy Score</i> and <i>Model Fitting Duration</i>. That way, we determine the quality of the model for the particular time series. <b>The values in time series are assumed to be hourly</b>, the starting time value is also provided by the user. Supported forecastig models: seasonal ARIMA, seasonal ARIMA outliers-adjusted, seasonal ARIMA with GARCH, seasonal ARIMA outliers-adjusted with GARCH, seasonal ARFIMA, seasonal ARFIMA with GARCH, exponential smoothing, linear regression, singular spectrum analysis (SSA), support vector regression (SVR).</p>
            </div>
            <div class="6u$ 12u$(medium) important(medium)">
                <span class="image fit"><img src="images/pic01.png" alt="" /></span>
            </div>
        </div>
    </div>
</section>

<!-- Four -->
<section id="four" class="main style1 special">
    <div class="container">
        <header class="major">
            <h2>Test Our Service?</h2>
        </header>
        <p>Upload the CSV file containg the comma-separated string of request rate values here to test our service.</p>

        <section>
            <form id="uploadForm" method="post" action="/forecasting/executeForecasting" enctype="multipart/form-data">
                <div class="row uniform 50%">
                    <div class="6u 12u$(xsmall)">
                        <input type="text" name="name" id="demo-name" value="" placeholder="First Name" required="required" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <input type="email" name="email" id="demo-email" value="" placeholder="Email" required="required" />
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <input type="file" name="filetoupload" id="demo-name" value="" placeholder="File Path" required="required"/>
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <input type="text" name="predictSteps" id="demo-email" value="10" placeholder="Prediction Time Steps" required="required" />
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <input type="text" name="timestamp" id="demo-name" value="" placeholder="start timestamp" required="required"/>
                    </div>
                    <div class="12u$">
                        <ul class="actions">
                            <li><input type="submit" value="Submit" class="special" /></li>
                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </div>
                </div>
            </form>
            <div class="row 150%">
                <div class="12u 12u$(medium)">
                    <select id="selectTestName" onchange="getTestValues(this);">

                    </select>
                </div>
            </div>
            <div class="row 150%">
                <div class="12u 12u$(medium)">
                    <h4 style="text-align: center">Selected Test : <span style="color: dodgerblue; font-weight: 600" id="selectedTestName"></span> </h4>
                </div>
                <div class="12u 12u$(medium)">
                    <table id="testResult" class="display" style="width:100%">
                        <thead>
                        <tr>
                            <th>Approach Name</th>
                            <th>Score</th>
                            <th>Duration to Compute Result(in sec)</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Approach Name</th>
                            <th>Score</th>
                            <th>Duration to Compute Result(in sec)</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
    </div>
</section>
<section id="five" class="main style2 special">
<div class="our-team">
    <div class="container">
        <header class="major">
            <h2>Developers</h2>
        </header>
        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <br>
            <p class="about-text" style="text-align: justify">We are the Cloud Computing & IoT research group supervised by Prof. Dr. Michael Gerndt
                at TU Munich, Germany. Being enthusiastic scientists, we are constantly working to ensure that the
                technologies we focus on are not just a hype but are effectively learned, understood and used in the
                industry. During the two years of our work, we presented our research results at the leading
                international conferences. <br>We permanently keep in touch with the colleagues from the research field
                and our industrial partners, such as BMW, Huawei, Instana, SAP, and MakerSpace. For our students, we
                regularly conduct lectures and practical courses in Cloud Computing and Internet of Things, encouraging
                their curiosity and hands-on experience.</p>
        </div>
        <br>
        <div class="text-center">
            <div class="col-xs-12 col-sm-4 col-md-4 col-md-offset-2 wow fadeInDown" style="margin-top: 20px" data-wow-duration="1000ms" data-wow-delay="600ms">
                <img src="/images/about/2.jpg" alt="" style="height: 170px" >
                <h4>Vladimir Podolskiy</h4>
                <p style="margin-top: -13px">
                    Ph.D. student and Research assistant
                </p>
                <ul class="list-inline social-buttons" style="margin-top: -40px">
                    <li class="list-inline-item">
                        <a href="mailto: v.podolskiy@tum.de" target="_blank">
                            <i class="fa fa-envelope" style="position: center;  "></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://www.caps.in.tum.de/en/people/vladimir-podolskiy/" target="_blank">
                            <i class="fa fa-university"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/vladimirpodolskiy/" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInDown" style="margin-top: 20px" data-wow-duration="1000ms" data-wow-delay="900ms">
                <img src="/images/about/3.jpg" alt="" style="height: 170px" >
                <h4>Anshul Jindal</h4>
                <p style="margin-top: -13px">
                    M.Sc. in Informatics Student
                </p>
                <ul class="list-inline social-buttons" style="margin-top: -40px">
                    <li class="list-inline-item">
                        <a href="mailto:anshul.jindal@tum.de" target="_blank">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                    <!--<li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-university"></i>
                      </a>
                    </li>-->
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/ansjin/" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</section>
<section id="six" class="main style1 special">

    <div class="container">
        <header class="major">
            <h2>Get In Touch</h2>
        </header>
        <div class="row 150%">
            <div class="8u 12u$(medium)">
                    <div class="section-title">
                        <h2>Send a message</h2>
                        <p>Please fill out the form below to send us an email and we will get back to you as soon as possible.</p>
                    </div>
                    <form id="contactForm" method="post" action="/sendMessage" novalidate>
                        <div class="row">
                            <div class="6u 12u$(medium)">
                                <div class="form-group">
                                    <input type="text" name="name" id="namemsg" class="form-control" placeholder="Name" required="required">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="6u 12u$(medium)">
                                <div class="form-group">
                                    <input type="email" name="email" id="emailmsg" class="form-control" placeholder="Email" required="required">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div id="success"></div>
                        <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
                    </form>
            </div>
            <div class="4u$ 12u$(medium)">
                    <h2>Contact Info</h2>

                    <p style="text-align: left"><span><i class="fa fa-map-marker"></i>&nbsp; &nbsp; Address <br></span>Chair of Computer Architecture<br>
                        Department of Informatics , Boltzmannstraße 3
                        85748 Garching <br> Germany</p>
                <div class="contact-item">
                    <p style="text-align: left"><span><i class="fa fa-phone"></i></span> &nbsp; &nbsp; Phone <br>+49 000000000</p>
                </div>
                <div class="contact-item">
                    <p style="text-align: left"><span><i class="fa fa-envelope-o"></i></span>&nbsp; &nbsp; Email <br> v.podolskiy@tum.de</p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<section id="footer">
    <ul class="icons">
        <li><a href="https://github.com/Cloud-Pie/LPE" target="_blank" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="mailto:v.podolskiy@tum.de" target="_blank" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; Cloud-Pie 2018 All rights reserved</li>
    </ul>
</section>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    function getTestValues(testName) {
        $.get(
                "/forecasting/getTestData",{"testName":testName.value},
                function(responseData) {




                    document.getElementById("selectedTestName").innerHTML = testName.value;
                    //document.getElementById('testResult').innerHTML='';
                    var allData = []
                    responseData.forEach(function (data) {

                        var instETS = [];
                        instETS.push("ETS");
                        instETS.push(data["ETS"].score);
                        instETS.push(data["ETS"].duration);
                        allData.push(instETS);

                        var instSARIMA = [];
                        instSARIMA.push("SARIMA");
                        if (data["SARIMA"]) {
                            instSARIMA.push(data["SARIMA"].score);
                            instSARIMA.push(data["SARIMA"].duration);
                        } else {
                            instSARIMA.push("");
                            instSARIMA.push("");
                        }

                        allData.push(instSARIMA);

                        var instSOAARIMA = [];
                        instSOAARIMA.push("SOAARIMA");
                        if (data["SOAARIMA"]) {
                            instSOAARIMA.push(data["SOAARIMA"].score);
                            instSOAARIMA.push(data["SOAARIMA"].duration);
                        } else {
                            instSOAARIMA.push("");
                            instSOAARIMA.push("");
                        }
                        allData.push(instSOAARIMA);
                        var instSARIMAG = [];
                        instSARIMAG.push("SARIMA+GARCH");
                        if (data["SARIMA+GARCH"]) {
                            instSARIMAG.push(data["SARIMA+GARCH"].score);
                            instSARIMAG.push(data["SARIMA+GARCH"].duration);
                        } else {
                            instSARIMAG.push("");
                            instSARIMAG.push("");
                        }
                        allData.push(instSARIMAG);
                        var SOAARIMAG = [];
                        SOAARIMAG.push("SOAARIMA+GARCH");
                        if (data["SOAARIMA+GARCH"]) {
                            SOAARIMAG.push(data["SOAARIMA+GARCH"].score);
                            SOAARIMAG.push(data["SOAARIMA+GARCH"].duration);
                        } else {
                            SOAARIMAG.push("");
                            SOAARIMAG.push("");
                        }
                        allData.push(SOAARIMAG);
                        var instSARFIMA = [];
                        instSARFIMA.push("SARFIMA");
                        if (data["SARFIMA"]) {
                            instSARFIMA.push(data["SARFIMA"].score);
                            instSARFIMA.push(data["SARFIMA"].duration);
                        } else {
                            instSARFIMA.push("");
                            instSARFIMA.push("");
                        }
                        allData.push(instSARFIMA);
                        var instSARFIMAG = [];
                        instSARFIMAG.push("SARFIMA+GARCH");
                        if (data["SARFIMA+GARCH"]) {
                            instSARFIMAG.push(data["SARFIMA+GARCH"].score);
                            instSARFIMAG.push(data["SARFIMA+GARCH"].duration);
                        } else {
                            instSARFIMAG.push("");
                            instSARFIMAG.push("");
                        }
                        allData.push(instSARFIMAG);

                        var instLM = [];
                        instLM.push("LM");
                        if (data["LM"]) {
                            instLM.push(data["LM"].score);
                            instLM.push(data["LM"].duration);
                        } else {
                            instLM.push("");
                            instLM.push("");
                        }
                        allData.push(instLM);

                        var instSSA = [];
                        instSSA.push("SSA");
                        if (data["SSA"]) {
                            instSSA.push(data["SSA"].score);
                            instSSA.push(data["SSA"].duration);
                        } else {
                            instSSA.push("");
                            instSSA.push("");
                        }
                        allData.push(instSSA);

                        var instSVR = [];
                        instSVR.push("SVR");
                        if (data["SVR"]) {
                            instSVR.push(data["SVR"].score);
                            instSVR.push(data["SVR"].duration);
                        } else {
                            instSVR.push("");
                            instSVR.push("");
                        }
                        allData.push(instSVR);
                    });
                    $('#testResult').DataTable({
                        data: allData,
                        "bDestroy": true
                    });
                }
        );
    }
    $(document).ready(function() {

        // process the form
        $('#uploadForm').submit(function(event) {
            // process the form
            $(this).ajaxSubmit({
                error: function(xhr) {
                    status('Error: ' + xhr.status);
                },
                success: function(response) {
                    $("#status").empty().text(response);
                    console.log(response);
                    $('#uploadForm').append('<br><br><div style="text-align: left" class="alert alert-success">' + response + '</div>');
                }
            });
            // stop the form from submitting the normal way and refreshing the page
            return false;
        });
        $.get(
                "/forecasting/getAllTestsName",
                function(data) {

                    var selTestName = document.getElementById("selectTestName");
                    selTestName.innerHTML='';
                    for(i=0;i<data.length;i++) {
                    selTestName.innerHTML+='<option value="'+data[i].username+
                            '">'+data[i].username+'</option>'
                    }
                }
        );

        $('#contactForm').submit(function(event) {
            // process the form
            $(this).ajaxSubmit({
                error: function(xhr) {
                    status('Error: ' + xhr.status);
                },
                success: function(response) {
                    $("#status").empty().text(response);
                    console.log(response);
                    $('#contactForm').append('<br><br><div class="alert alert-success">' + response + '</div>');
                }
            });
            // stop the form from submitting the normal way and refreshing the page
            return false;
        });
    });

</script>
